{
  "extends": "next/core-web-vitals",
  "root": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "next/core-web-vitals",
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:prettier/recommended"
      ],
      "rules": {}
    },
    {
      "files": ["*.js", "*.jsx"],
      "extends": [
        "next/core-web-vitals",
        "airbnb-base",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "react/react-in-jsx-scope": "off",
        "import/no-extraneous-dependencies": "off",
        "class-methods-use-this": "off",
        "import/prefer-default-export": "off",
        "react/jsx-props-no-spreading": "off"
      }
    }
  ]
}
